.answerTable{
  overflow: hidden;
  padding: 30px;
  border-radius: 25px;
  background-color: antiquewhite;
  width: 500px;
  height: 300px;
  float: right;
  margin: 50px;
}

.formAns{
  border-spacing: 10px;
}

.mainAns{
  border: 3px solid gray;
  overflow: auto;
  width: 500px;
  height: 300px;
}
